<link rel="stylesheet" href="node_modules/select2/dist/css/select2.min.css">
<script src="node_modules/select2/dist/js/select2.full.min.js"></script>

<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div id="accordion">
                    <h3>My watch</h3>
                    <div>
                        <div class="form-group">
                            <label>Brand*</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option value="">Please select</option>
                                {{#each brands}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Model*</label>
                            <input type="text" class="form-control" placeholder="Enter ...">
                        </div>
                        <div class="form-group">
                            <label>Reference number</label>
                            <input type="text" class="form-control" placeholder="Enter ...">
                        </div>
                    </div>
                    <h3>Enter the most important details</h3>
                    <div>
                        <div class="form-group">
                            <label>Gender</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option value="">Please select</option>
                                {{#each genders}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Movement</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option value="">Please select</option>
                                {{#each movements}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Case Material</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option value="">Please select</option>
                                {{#each caseMaterials}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Bracelet Material</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option value="">Please select</option>
                                {{#each braceletMaterials}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Case diameter</label>
                            <div class="input-group">
                                <input name="watch.caseDiameterX" placeholder="Enter ..." id="caseDiameterX" type="number" class="form-control"><span class="input-group-addon">mm</span>
                            </div>
                        </div>
                    </div>
                    <h3>Bracelet/strap</h3>
                    <div>
                        <div class="form-group">
                            <label>Bracelet Color</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option value="">Please select</option>
                                {{#each braceletColors}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Clasp Material</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option value="">Please select</option>
                                {{#each claspMaterials}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Clasp</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option value="">Please select</option>
                                {{#each clasps}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>

                    </div>
                    <h3>Case</h3>
                    <div>

                        <div class="form-group">
                            <label>Bezel Material</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option value="">Please select</option>
                                {{#each bezelMaterials}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Thickness</label>
                            <div class="input-group">
                                <input name="watch.caseDiameterX" placeholder="Enter ..." id="caseDiameterX" type="number" class="form-control"><span class="input-group-addon">mm</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Glass</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option value="">Please select</option>
                                {{#each glass}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Water Resistance</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option value="">Please select</option>
                                {{#each waterResistance}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Dial</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option value="">Please select</option>
                                {{#each dial}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Dial Numerals</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option value="">Please select</option>
                                {{#each dialNumerals}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <h3>Caliber</h3>
                    <div>
                        <div class="form-group">
                            <label>Movement/Caliber</label>
                            <input type="text" class="form-control" placeholder="Enter ...">
                        </div>
                        <div class="form-group">
                            <label>Base caliber</label>
                            <input type="text" class="form-control" placeholder="Enter ...">
                        </div>
                        <div class="form-group">
                            <label>Power reserve</label>
                            <div class="input-group">
                                <input name="watch.caseDiameterX" placeholder="Enter ..." id="caseDiameterX" type="number" class="form-control"><span class="input-group-addon">h</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Number of jewels</label>
                            <input type="text" class="form-control" placeholder="Enter ...">
                        </div>
                        <div class="form-group">
                            <label>Frequency</label>
                            <div class="input-group">
                                <input name="watch.caseDiameterX" placeholder="Enter ..." id="caseDiameterX" type="number" class="form-control"><span class="input-group-addon">A/h</span>
                            </div>
                        </div>
                    </div>


                    <h3>Functions</h3>
                    <div>
                        <div class="form-group" style="display: flex; flex-wrap: wrap; justify-content: space-around">
                            <div>
                                {{#each watchFunctions}}
                                    {{#if isEven}}
                                        <div class="checkbox">
                                            <label>
                                                <input value="{{id}}" type="checkbox">
                                                {{name}}
                                            </label>
                                        </div>
                                    {{/if}}
                                {{/each}}
                            </div>
                            <div>
                                {{#each watchFunctions}}
                                    {{#if isEven}}
                                    {{else}}
                                        <div class="checkbox">
                                            <label>
                                                <input value="{{id}}" type="checkbox">
                                                {{name}}
                                            </label>
                                        </div>
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <h3>Others</h3>
                    <div>
                        <div class="form-group" style="display: flex; flex-wrap: wrap; justify-content: space-around">
                            <div>
                                {{#each watchCharacteristics}}
                                    {{#if isEven}}
                                        <div class="checkbox">
                                            <label>
                                                <input value="{{id}}" type="checkbox">
                                                {{name}}
                                            </label>
                                        </div>
                                    {{/if}}
                                {{/each}}
                            </div>
                            <div>
                                {{#each watchCharacteristics}}
                                    {{#if isEven}}
                                    {{else}}
                                        <div class="checkbox">
                                            <label>
                                                <input value="{{id}}" type="checkbox">
                                                {{name}}
                                            </label>
                                        </div>
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer" style="display: flex; justify-content: flex-start">
                    <a href="" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
    $( function() {
        $( "#accordion" ).accordion();
        $('.select2').select2();
    } );
</script>